.themeRed {
  --okw-button-light-accent-color2: var(--okw-red-light-accent-color2);
  --okw-button-accent-color: var(--okw-red-accent-color);
}

.themeGreen {
  --okw-button-light-accent-color2: var(--okw-green-light-accent-color2);
  --okw-button-accent-color: var(--okw-green-accent-color);
}

.themeYellow {
  --okw-button-light-accent-color2: var(--okw-yellow-light-accent-color2);
  --okw-button-accent-color: var(--okw-yellow-accent-color);
}

.aroot {
  border-radius: var(--okw-border-radius-lg);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--okw-border-radius-lg);
  background-color: var(--okw-button-accent-color);
  color: var(--okw-light-text-color1);
  font-size: 16px;
  border: 1px solid;
  outline: none;
  text-align: center;
  font-weight: 600;
  position: relative;
  padding: 15px 18px;
  min-width: max-content;
  width: fit-content;
}

.aroot:active {
  border: 1px solid var(--okw-light-accent-color1);
  box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
  -webkit-box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
  -moz-box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
}

.outlined {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--okw-button-accent-color);
  color: var(--okw-dark-text-color1);
}

.outlined:active {
  border: 1px solid var(--okw-button-accent-color);
  box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
  -webkit-box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
  -moz-box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
}

.secondary {
  background-color: var(--okw-background-light-color1);
  color: var(--okw-accent-text-color1);
}

.secondary:active {
  border: 1px solid var(--okw-button-accent-color);
  box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
  -webkit-box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
  -moz-box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
}

.secondary-outlined {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--okw-dark-border-color2);
  color: var(--okw-dark-text-color1);
}

.secondary-outlined:active {
  border: 1px solid var(--okw-button-accent-color);
  box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
  -webkit-box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
  -moz-box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
}

/* conditional styles  */
.isFullwidth {
  width: 100%;
}

.noBorder {
  border: none;
}

.small {
  padding: 5px 15px;
}

.aroot:disabled::after {
  position: absolute;
  inset: 0;
  background-color: rgba(44, 44, 44, 0.756);
  width: 100%;
  height: 100%;
  content: "";
  cursor: not-allowed;
}

.responsive {
  padding: 8px 15px;
}

.isCircle {
  padding: 0;
  border-radius: var(--okw-border-radius-rd);
}

@media screen and (max-width: 900px) {
  .responsive {
    padding: 12px 30px;
  }
}

@media screen and (max-width: 600px) {
  .responsive {
    padding: 7px 18px;
  }
}
